<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/VerCupom.css">
    <title>Ver Cupom</title>
</head>
<body>
    <header>
        <section class="section-header">
            <img src="../assets/img/logo.png" alt="" > 
            <p>Xhopii</p>
            <h4><a href="../index.html">Sair</a></h4>
       </section>
        <nav>  
            <ul >
                <li><a href="Home.HTML">Home</a></li>
                <li><a href="cadastrarCliente.html">Cadastro Cliente</a></li>
                <li><a href="cadastrarfuncionario.html">Cadastro Funcionário</a></li>
                <li><a href="cadastrarProduto.html">Cadastro Produto</a></li>
                <li><a href="verClientes.html">Ver Clientes</a></li>
                <li><a href="verFuncionarios.html">Ver Funcionários</a></li>
                <li><a href="verProdutos.html">Ver Produtos</a></li>
                <li><a href="verLoja.html">Ver Loja</a></li>
                <li><a href="VerCupom.html">Ver Cupom</a></li>
            </ul>
        </nav>
    </header>
    <main>
      <div class="title-container">
            <h3 class="title">CUPONS XHOPII</h3>
        </div>
        <section class="catalogo-cupons">
            <article class="card-cupom">
                <img class="card-imagem" src="../assets/img/cupom.png" alt="">
                <p class="card-titulo">10% OFF</p>
                <p class="linha-detalhe">
                    <span class="condicao">Condição:</span>
                    <span class="conteudo">Compras acima de R$10</span>
                </p>
                <p class="card-rodape">
                    <span class="euQuero">EU QUERO</span>
                    <span class="quantidade">5000 disponíveis</span>
                </p>
            </article>
            <article class="card-cupom">
                <img class="card-imagem" src="../assets/img/cupom.png" alt="">
                <p class="card-titulo">20% OFF</p>
                <p class="linha-detalhe">
                    <span class="condicao">Condição:</span>
                    <span class="conteudo">Compras acima de R$20</span>
                </p>
                <p class="card-rodape">
                    <span class="euQuero">EU QUERO</span>
                    <span class="quantidade">9 disponíveis</span>
                </p>
            </article>
            <article class="card-cupom">
                <img class="card-imagem" src="../assets/img/cupom.png" alt="">
                <p class="card-titulo">30% OFF</p>
                <p class="linha-detalhe">
                    <span class="condicao">Condição:</span>
                    <span class="conteudo">Compras acima de R$30</span>
                </p>
                <p class="card-rodape">
                    <span class="euQuero">EU QUERO</span>
                    <span class="quantidade">8 disponíveis</span>
                </p>
            </article>
            <article class="card-cupom">
                <img class="card-imagem" src="../assets/img/cupom.png" alt="">
                <p class="card-titulo">40% OFF</p>
                <p class="linha-detalhe">
                    <span class="condicao">Condição:</span>
                    <span class="conteudo">Compras acima de R$40</span>
                </p>
                <p class="card-rodape">
                    <span class="euQuero">EU QUERO</span>
                    <span class="quantidade">7 disponíveis</span>
                </p>
            </article>
            <article class="card-cupom">
                <img class="card-imagem" src="../assets/img/cupom.png" alt="">
                <p class="card-titulo">50% OFF</p>
                <p class="linha-detalhe">
                    <span class="condicao">Condição:</span>
                    <span class="conteudo">Compras acima de R$50</span>
                </p>
                <p class="card-rodape">
                    <span class="euQuero">EU QUERO</span>
                    <span class="quantidade">6 disponíveis</span>
                </p>
            </article>
            <article class="card-cupom">
                <img class="card-imagem" src="../assets/img/cupom.png" alt="">
                <p class="card-titulo">60% OFF</p>
                <p class="linha-detalhe">
                    <span class="condicao">Condição:</span>
                    <span class="conteudo">Compras acima de R$60</span>
                </p>
                <p class="card-rodape">
                    <span class="euQuero">EU QUERO</span>
                    <span class="quantidade">5 disponíveis</span>
                </p>
            </article>
            <article class="card-cupom">
                <img class="card-imagem" src="../assets/img/cupom.png" alt="">
                <p class="card-titulo">70% OFF</p>
                <p class="linha-detalhe">
                    <span class="condicao">Condição:</span>
                    <span class="conteudo">Compras acima de R$70</span>
                </p>
                <p class="card-rodape">
                    <span class="euQuero">EU QUERO</span>
                    <span class="quantidade">4 disponíveis</span>
                </p>
            </article>
            <article class="card-cupom">
                <img class="card-imagem" src="../assets/img/cupom.png" alt="">
                <p class="card-titulo">80% OFF</p>
                <p class="linha-detalhe">
                    <span class="condicao">Condição:</span>
                    <span class="conteudo">Compras acima de R$80</span>
                </p>
                <p class="card-rodape">
                    <span class="euQuero">EU QUERO</span>
                    <span class="quantidade">3 disponíveis</span>
                </p>
            </article>
            <article class="card-cupom">
                <img class="card-imagem" src="../assets/img/cupom.png" alt="">
                <p class="card-titulo">90% OFF</p>
                <p class="linha-detalhe">
                    <span class="condicao">Condição:</span>
                    <span class="conteudo">Compras acima de R$90</span>
                </p>
                <p class="card-rodape">
                    <span class="euQuero">EU QUERO</span>
                    <span class="quantidade">2 disponíveis</span>
                </p>
            </article>
            <article class="card-cupom">
                <img class="card-imagem" src="../assets/img/cupom.png" alt="">
                <p class="card-titulo">100% OFF</p>
                <p class="linha-detalhe">
                    <span class="condicao">Condição:</span>
                    <span class="conteudo">Compras acima de R$100</span>
                </p>
                <p class="card-rodape">
                    <span class="euQuero">EU QUERO</span>
                    <span class="quantidade">1 disponível</span>
                </p>
            </article>
        </section>
    </main>
    <footer class="footer-main">
    <div class="footer-div1">
        <section class="footer-colunas">
            <h3>ATENDIMENTO AO CLIENTE</h3>
            <ul>
                <li><a href="#">Central de Ajuda</a></li>
                <li><a href="#">Como Comprar</a></li>
                <li><a href="#">Métodos de Pagamento</a></li>
                <li><a href="#">Garantia Xhopii</a></li>
                <li><a href="#">Devolução e Reembolso</a></li>
                <li><a href="#">Fale Conosco</a></li>
                <li><a href="#">Ouvidoria</a></li>
            </ul>
        </section>
        <section class="footer-colunas">
            <h3>SOBRE XHOPII</h3>
            <ul>
                <li><a href="#">Sobre Nós</a></li>
                <li><a href="#">Políticas Xhopii</a></li>
                <li><a href="#">Política de Privacidade</a></li>
                <li><a href="#">Programa de Afiliados da Xhopii</a></li>
                <li><a href="#">Seja um Entregador Xhopii</a></li>
                <li><a href="#">Ofertas Relâmpago</a></li>
                <li><a href="#">Xhopii Blog</a></li>
                <li><a href="#">Imprensa</a></li>
            </ul>
        </section>
        <section class="footer-colunas">
            <h3>PAGAMENTO</h3>
            <div class="icones-pagamento">
                <img src="../assets/img/pix.jpg" alt="Logo Pix">
                <img src="../assets/img/boleto.png" alt="Logo Boleto">
                <img src="../assets/img/american express.png" alt="Logo American Express">
                <img src="../assets/img/visa.png" alt="Logo Visa">
                <img src="../assets/img/mastercard.png" alt="Logo Mastercard">
                <img src="../assets/img/hypercard.png" alt="Logo Hipercard">
                <img src="../assets/img/elo.png" alt="Logo Elo">
            </div>
        </section>
        <section class="footer-colunas">
            <h3>SIGA-NOS</h3>
            <ul class="redes-footer">
                <li><a href="#"><img src="../assets/img/instablack.png" alt="Instagram">Instagram</a></li>
                <li><a href="#"><img src="../assets/img/twitterblack.png" alt="Twitter">Twitter</a></li>
                <li><a href="#"><img src="../assets/img/faceblack.jpg" alt="Facebook">Facebook</a></li>
                <li><a href="#"><img src="../assets/img/youtubeblack.jpg" alt="YouTube">YouTube</a></li>
                <li><a href="#"><img src="../assets/img/linkedinblack.jpg" alt="Linkedin">Linkedin</a></li>
            </ul>
        </section>
        <section class="footer-colunas">
            <h3>ATENDIMENTO AO CLIENTE</h3>
            <div class="qr-code-footer">
                <img src="../assets/img/qr-code.png" alt="QR Code para baixar o aplicativo" class="qr-code">
            </div>
            <div class="app-store">
                <img src="../assets/img/google play.png" alt="Baixar no Google Play">
                <img src="../assets/img/Apple Store.png" alt="Baixar na Apple Store">
            </div>
        </section>
    </div>
    <div class="copyright">
        <p>&copy; 2023 Xhopii. Todos os direitos acadêmicos reservados</p>
    </div>
</footer>
</body>
</html>