<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/verClientes.css">
    <title>Ver Clientes</title>
</head>
<body>
    <header>
        <section class="section-header">
            <img src="../assets/img/logo.png" alt="" > 
            <p>Xhopii</p>
            <h4><a href="../index.html">Sair</a></h4>
       </section>
        <nav>  
            <ul >
                <li><a href="#">Home</a></li>
                <li><a href="#">Cadastro Cliente</a></li>
                <li><a href="#">Cadastro Funcionário</a></li>
                <li><a href="#">Cadastro Produto</a></li>
                <li><a href="verClientes.html">Ver Clientes</a></li>
                <li><a href="verFuncionarios.html">Ver Funcionários</a></li>
                <li><a href="verProdutos.html">Ver Produtos</a></li>
            </ul>
        </nav>
    </header>
    <h3 class="title">CLIENTES</h3>
    <main>
        <article class="clientes-cards">
            <img src="../assets/img/cliente1.jpg" alt="">
            <h4>Wanda</h4>
            <p>"A cor. É um vermelho... profundo. Quase se confunde com o fluxo da minha própria magia. Não é apenas um tecido, é uma declaração."</p>
        </article>
        <article class="clientes-cards">
            <img src="../assets/img/cliente2.jpg" alt="">
            <h4>Thanos</h4>
            <p>"É tão impecável na forma e na matéria... esta camiseta deveria ser a sétima Joia do Infinito."</p>
        </article>
        <article class="clientes-cards">
            <img src="../assets/img/cliente3.jpg" alt="">
            <h4>Groot</h4>
            <p>"Eu sou Groot."</p>
        </article>
        <article class="clientes-cards">
            <img src="../assets/img/cliente4.jpg" alt="">
            <h4>Pantera Negra</h4>
            <p>"Este tecido demonstra uma integridade estrutural digna de Vibranium. Não é apenas vestuário, mas o material mais resistente que já vi fora das fronteiras de Wakanda."</p>
        </article>
        <article class="clientes-cards">
            <img src="../assets/img/cliente5.jpg" alt="">
            <h4>Viúva Negra</h4>
            <p>"É funcional. O material não restringe o movimento e a cor é discreta, facilitando o trabalho.</p>
        </article>
        <article class="clientes-cards">
            <img src="../assets/img/cliente6.jpg" alt="">
            <h4>Gavião Arqueiro</h4>
            <p>"É leve e não prende nada no ombro. Posso armar o arco e soltar sem sentir o tecido, perfeita para um tiro limpo."</p>
        </article>
        <article class="clientes-cards">
            <img src="../assets/img/cliente7.jpg" alt="">
            <h4>Hulk</h4>
            <p>"FORTE. NÃO RASGA. SERVE HULK. HULK FICA!"</p>
        </article>
        <article class="clientes-cards">
            <img src="../assets/img/cliente8.jpg" alt="">
            <h4>Capitão América</h4>
            <p>"É confiável e aguenta o tranco. Um tecido que é quase tão resistente quanto o meu escudo."</p>
        </article>
        <article class="clientes-cards">
            <img src="../assets/img/cliente9.jpg" alt="">
            <h4>Homem de Ferro</h4>
            <p>"Este tecido está em outro nível. Não é algodão, é engenharia têxtil. Parece ter a precisão e a adaptabilidade da minha própria nanotecnologia."</p>
        </article>
        <article class="clientes-cards">
            <img src="../assets/img/cliente10.jpg" alt="">
            <h4>Thor</h4>
            <p>"Este tecido é digno de Asgard. Sua qualidade é tamanha que nem mesmo o fogo de Muspelheim ousaria consumi-lo."</p>
        </article>
    </main>
    <footer class="footer-main">
    <div class="footer-div1">
        <section class="footer-colunas">
            <h3>ATENDIMENTO AO CLIENTE</h3>
            <ul>
                <li><a href="#">Central de Ajuda</a></li>
                <li><a href="#">Como Comprar</a></li>
                <li><a href="#">Métodos de Pagamento</a></li>
                <li><a href="#">Garantia Xhopii</a></li>
                <li><a href="#">Devolução e Reembolso</a></li>
                <li><a href="#">Fale Conosco</a></li>
                <li><a href="#">Ouvidoria</a></li>
            </ul>
        </section>
        <section class="footer-colunas">
            <h3>SOBRE XHOPII</h3>
            <ul>
                <li><a href="#">Sobre Nós</a></li>
                <li><a href="#">Políticas Xhopii</a></li>
                <li><a href="#">Política de Privacidade</a></li>
                <li><a href="#">Programa de Afiliados da Xhopii</a></li>
                <li><a href="#">Seja um Entregador Xhopii</a></li>
                <li><a href="#">Ofertas Relâmpago</a></li>
                <li><a href="#">Xhopii Blog</a></li>
                <li><a href="#">Imprensa</a></li>
            </ul>
        </section>
        <section class="footer-colunas">
            <h3>PAGAMENTO</h3>
            <div class="icones-pagamento">
                <img src="../assets/img/pix.jpg" alt="Logo Pix">
                <img src="../assets/img/boleto.png" alt="Logo Boleto">
                <img src="../assets/img/american express.png" alt="Logo American Express">
                <img src="../assets/img/visa.png" alt="Logo Visa">
                <img src="../assets/img/mastercard.png" alt="Logo Mastercard">
                <img src="../assets/img/hypercard.png" alt="Logo Hipercard">
                <img src="../assets/img/elo.png" alt="Logo Elo">
            </div>
        </section>
        <section class="footer-colunas">
            <h3>SIGA-NOS</h3>
            <ul class="redes-footer">
                <li><a href="#"><img src="../assets/img/instablack.png" alt="Instagram">Instagram</a></li>
                <li><a href="#"><img src="../assets/img/twitterblack.png" alt="Twitter">Twitter</a></li>
                <li><a href="#"><img src="../assets/img/faceblack.jpg" alt="Facebook">Facebook</a></li>
                <li><a href="#"><img src="../assets/img/youtubeblack.jpg" alt="YouTube">YouTube</a></li>
                <li><a href="#"><img src="../assets/img/linkedinblack.jpg" alt="Linkedin">Linkedin</a></li>
            </ul>
        </section>
        <section class="footer-colunas">
            <h3>ATENDIMENTO AO CLIENTE</h3>
            <div class="qr-code-footer">
                <img src="../assets/img/qr-code.png" alt="QR Code para baixar o aplicativo" class="qr-code">
            </div>
            <div class="app-store">
                <img src="../assets/img/google play.png" alt="Baixar no Google Play">
                <img src="../assets/img/Apple Store.png" alt="Baixar na Apple Store">
            </div>
        </section>
    </div>
    <div class="copyright">
        <p>&copy; 2023 Xhopii. Todos os direitos acadêmicos reservados</p>
    </div>
</footer>
</body>
</html>