<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/verFuncionarios.css">
    <title>Ver Funcionário</title>
</head>
<body>
    <header>
        <section class="section-header">
            <img src="../assets/img/logo.png" alt="" > 
            <p>Xhopii</p>
            <h4><a href="../index.html">Sair</a></h4>
       </section>
        <nav>  
            <ul >
                <li><a href="#">Home</a></li>
                <li><a href="#">Cadastro Cliente</a></li>
                <li><a href="#">Cadastro Funcionário</a></li>
                <li><a href="#">Cadastro Produto</a></li>
                <li><a href="verClientes.html">Ver Clientes</a></li>
                <li><a href="verFuncionarios.html">Ver Funcionários</a></li>
                <li><a href="verProdutos.html">Ver Produtos</a></li>
            </ul>
        </nav>
    </header>
    <h3 class="title">FUNCIONÁRIOS</h3>
    <main>
        <article class="clientes-cards">
            <img src="../assets/img/funcionario1.jpg" alt="">
            <h4>SUPERMAN</h4>
            <p>Desenvolvedor Sênior</p>
            <p>Arquiteto-chefe do nosso site. Garante que a fundação tecnológica seja sólida, escalável e inovadora</p>
        </article>
        <article class="clientes-cards">
            <img src="../assets/img/funcionario2.jpg" alt="">
            <h4>BATMAN</h4>
            <p>Engenheiro de Software</p>
            <p>Transforma ideias em código. É a mão na massa que constrói e refina cada funcionalidade do produto</p>
        </article>
        <article class="clientes-cards">
            <img src="../assets/img/funcionario3.jpg" alt="">
            <h4>MULHER MARAVILHA</h4>
            <p>Gerente de Produto</p>
            <p>A voz do cliente. Define o caminho ('roadmap') e garante que o produto resolva os problemas reais do mercado</p>
            <p></p>
        </article>
        <article class="clientes-cards">
            <img src="../assets/img/funcionario4.jpg" alt="">
            <h4>FLASH</h4>
            <p>Vendas & Marketing</p>
            <p>Focado no crescimento e nas pessoas. Lidera a visão de mercado e garante que o nosso software chegue nas mãos certas</p>
        </article>
    </main>
    <footer class="footer-main">
    <div class="footer-div1">
        <section class="footer-colunas">
            <h3>ATENDIMENTO AO CLIENTE</h3>
            <ul>
                <li><a href="#">Central de Ajuda</a></li>
                <li><a href="#">Como Comprar</a></li>
                <li><a href="#">Métodos de Pagamento</a></li>
                <li><a href="#">Garantia Xhopii</a></li>
                <li><a href="#">Devolução e Reembolso</a></li>
                <li><a href="#">Fale Conosco</a></li>
                <li><a href="#">Ouvidoria</a></li>
            </ul>
        </section>
        <section class="footer-colunas">
            <h3>SOBRE XHOPII</h3>
            <ul>
                <li><a href="#">Sobre Nós</a></li>
                <li><a href="#">Políticas Xhopii</a></li>
                <li><a href="#">Política de Privacidade</a></li>
                <li><a href="#">Programa de Afiliados da Xhopii</a></li>
                <li><a href="#">Seja um Entregador Xhopii</a></li>
                <li><a href="#">Ofertas Relâmpago</a></li>
                <li><a href="#">Xhopii Blog</a></li>
                <li><a href="#">Imprensa</a></li>
            </ul>
        </section>
        <section class="footer-colunas">
            <h3>PAGAMENTO</h3>
            <div class="icones-pagamento">
                <img src="../assets/img/pix.jpg" alt="Logo Pix">
                <img src="../assets/img/boleto.png" alt="Logo Boleto">
                <img src="../assets/img/american express.png" alt="Logo American Express">
                <img src="../assets/img/visa.png" alt="Logo Visa">
                <img src="../assets/img/mastercard.png" alt="Logo Mastercard">
                <img src="../assets/img/hypercard.png" alt="Logo Hipercard">
                <img src="../assets/img/elo.png" alt="Logo Elo">
            </div>
        </section>
        <section class="footer-colunas">
            <h3>SIGA-NOS</h3>
            <ul class="redes-footer">
                <li><a href="#"><img src="../assets/img/instablack.png" alt="Instagram">Instagram</a></li>
                <li><a href="#"><img src="../assets/img/twitterblack.png" alt="Twitter">Twitter</a></li>
                <li><a href="#"><img src="../assets/img/faceblack.jpg" alt="Facebook">Facebook</a></li>
                <li><a href="#"><img src="../assets/img/youtubeblack.jpg" alt="YouTube">YouTube</a></li>
                <li><a href="#"><img src="../assets/img/linkedinblack.jpg" alt="Linkedin">Linkedin</a></li>
            </ul>
        </section>
        <section class="footer-colunas">
            <h3>ATENDIMENTO AO CLIENTE</h3>
            <div class="qr-code-footer">
                <img src="../assets/img/qr-code.png" alt="QR Code para baixar o aplicativo" class="qr-code">
            </div>
            <div class="app-store">
                <img src="../assets/img/google play.png" alt="Baixar no Google Play">
                <img src="../assets/img/Apple Store.png" alt="Baixar na Apple Store">
            </div>
        </section>
    </div>
    <div class="copyright">
        <p>&copy; 2023 Xhopii. Todos os direitos acadêmicos reservados</p>
    </div>
</footer>
</body>
</html>
